.single-recipe{
    margin: 15px 20px;
    background-color: rgb(182, 225, 253);
    border-radius: 10px;
    box-shadow: 5px 5px rgb(182, 225, 253);
    position: relative;
}


img{
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
}

.recipe-info{
    padding: 10px 20px;
}