.recipes{
    margin-top: 100px;
}

.recipes-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 30px;
}

@media only screen and (max-width: 576px) {
    .recipes-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 10px;
    }
}